.login {
    margin-top: -120px;
    border-top: 4px solid #f24151;
    border-bottom: 4px solid #f24151;
    border-left: 8px solid #f24151;
    border-right: 8px solid #f24151;
    width: 200px;
    padding: 20px;
    background-color: #0f0c1e;
    color: #f24151;
    font-family: 'VALORANT', sans-serif;
}

Button {
    margin-top: 10px;
    padding: 8px 5px 5px 5px;
    background-color: white;
    color: #f24151;
    font-family: 'VALORANT', sans-serif;
    font-size: 16px;
    line-height: 16px;
    height: fit-content;
}